In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv file as dataframe
file_path = "iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Since unsupervised learning only deals with numerical data, the class column can be dropped

In [3]:
# drop the class column from the dataframe
new_iris_df = iris_df.drop(['class'],axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
# shift ID column to beginning
second_col = new_iris_df.pop('petal_length')

In [5]:
# insert column to new position
new_iris_df.insert(1,'petal_length',second_col)
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [6]:
# export processed dataset as csv
output_file_path = "new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)